.create__product {
    width: max-content;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.create__product h2 {
    @apply text-2xl p-2.5;
    padding-left: 5px;
}

.create__product form input[type="submit"] {
    @apply p-2.5 outline-none bg-green-200 m-2.5 self-end;
}


