.creator__list-panel button{
    @apply p-2.5 rounded border-dashed border-4 text-current border-green-300;
}

.creator {
    @apply p-2.5;
}

.create-edit__cards {
    @apply bg-green-100 my-2.5;
}

.creator .input input {
    @apply p-2.5 outline-none;
}

.creator .input {
    @apply p-2.5;
}

.creator .input label {
    @apply mr-2;
}

.creator form {
    @apply flex flex-wrap items-center;
}

.creator form input[type="submit"] {
    @apply p-2 rounded border-dashed border-4 bg-white border-green-300 w-40;
}

.creator-list {
    @apply flex flex-wrap gap-2;
}

.creator-list .card {
    width: 300px;
}

.creator-list .card img {
    height: 300px;
}

.creator__editing-panel {
    display: flex;
    justify-content: space-between;
}

.creator__editing-panel button {
    width: 100px;
    background-color: aquamarine;
}