.product {
    @apply flex h-full max-w-screen-xl flex-wrap m-auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.product .card {
    /* @apply w-8; */
    max-width: 400px;
    margin-right: 20px;
}

.product-list {
    min-width: 200px
}

.product-list ul li {
    @apply flex justify-between;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-list ul li p:first-child {
    @apply truncate font-semibold;
}

.product-link {
    @apply text-white font-medium;
}

.product-link a {
    @apply p-1 px-9 bg-green-300 mr-2; 
}

.product-link button {
    @apply p-1 px-9 bg-red-300;
}