.product__wrapper {
    @apply  m-auto max-w-5xl max-w-screen-xl;
}

.product__wrapper h1 {
    @apply  text-2xl;
}

.cards {
    @apply  m-auto flex flex-wrap gap-x-2.5 gap-y-2.5;

}

.cards .card {
    width: 18.75rem;
}


.cards .card  img {
    height: 12.5rem;
    @apply object-cover;
}

@media (max-width: 960px) { 
    .cards .card {
        @apply  m-0;
            width: calc(50% - 5px);
        }
 }


 @media (max-width: 500px) { 
    .cards {
        @apply justify-center;  
    }
    .cards .card {
        @apply container;	
        }
        .cards .card img {
            @apply h-auto
        }
 }