.header {
  @apply flex bg-dark-green flex-none;
}

.header__wrapper {
  width: 1280px;
  min-width: 300px;
  margin: auto;
}

.header__inner {
  @apply p-2.5 flex text-white;
  max-width: 370px;
  justify-content: space-between
}

.logo {
  @apply w-20 self-center;
}

.header nav ul {
  @apply flex flex-wrap;
}

.header nav {
  /* @apply ml-2; */
}

.header nav ul li a {
  @apply text-white pl-1 pr-2 text-base uppercase;
}