@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}


.header {
  @apply p-2.5 flex bg-dark-green text-white flex-none items-center;
}

.logo {
  @apply w-20;
}

.header nav ul {
  @apply flex;
}

.header nav ul li a {
  @apply text-white px-2.5 text-base uppercase ;
}


.footer {
  @apply bg-dark-green h-20 mt-auto;
}
